<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		 Event Center Detail
  	</title>
    <link rel = 'stylesheet' type = 'text/css' href = './../../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = './../../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './index.html' class = 'nav-link'>
              Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './addcenter.html' class = 'nav-link'>
            Add Event Center
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link active'>
              Center Details
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './../contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
        <div id = 'sub-menu' class = 'rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './../signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './../signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class = 'page-header' id = 'site-name'>
        <h1>
          EventManager
        </h1>
      </div>
    </div>
    <div id = 'body-div' class = 'content-area' >
      <h1 class = 'page-description'>
        KFT Event Center 
      </h1>
      <div id = 'center-detail' class = 'list-group'>
        <h3 class = 'info-head'>
          Event Center Details
        </h3>
        <dl class = 'list-group'>
          <dt class= 'list-group-item list-group-item-action items'>
            Name
          </dt>
          <dd class = 'list-group-item'>
            KFT Event Center
          </dd>
          <dt class= 'list-group-item list-group-item-action items'>
            Price
          </dt>
          <dd class ='list-group-item'>
            #49, 000
          </dd>
          <dt class= 'list-group-item list-group-item-action items'>
            Location
          </dt>
          <dd class = 'list-group-item'>
            Lagos
          </dd> 
          <dt class= 'list-group-item list-group-item-action items'>
            Sitting Capacity
          </dt>
          <dd class = 'list-group-item'>
            550
          </dd>
          <dt class= 'list-group-item list-group-item-action items'>
            Facilities
          </dt>
          <dd>
            <ol>
              <li class= 'list-group-item list-group-item-action'>
                Air condition
              </li>
              <li class= 'list-group-item list-group-item-action'>
                Projector
              </li>
              <li class= 'list-group-item list-group-item-action'>
                Decoration
              </li>
              <li class= 'list-group-item list-group-item-action'>
                Catering
              </li>
              <li class= 'list-group-item list-group-item-action'>
                Lodging
              </li>
            </ol>
          </dd>
        </dl>
      </div>
      <div id = 'scheduled-events'>
        <h3 class = 'info-head'>
         Upcoming Events at KFT Event Center
        </h3>
        <table >   
          <tr>
            <th>
              User
            </th>
            <th>
              Event Type
            </th>
            <th>
              Date Scheduled
            </th>
          </tr>
          <tr>
            <td>
              Tutu Godfrey
            </td>
            <td>
              wedding Ceremony
            </td>
            <td>
              15th December 2017
            </td>
          </tr> 
          <tr>
            <td>
              Nnanna Okafor
            </td>
            <td>
              Concert
            </td>
            <td>
              15th January 2018
            </td>
          </tr>
          </table>
      </div>
      </div>
      <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <p id = 'modificationNotice'></p>
        </li>
        <li class = 'nav-item'>
          <a href = './../contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './../about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './../terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
  	<script src = './../../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>
