    <!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		Event Centers
    </title>
    <link rel = 'stylesheet' type = 'text/css' href = './../../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = './../../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './index.html' class = 'nav-link'>
              Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './addcenter.html' class = 'nav-link'>
            Add Event Center
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link active'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './../contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
          <div id = 'sub-menu' class = 'rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './../signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './../signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class = 'page-header' id = 'site-name'>
          <h1>
            EventManager
          </h1>
        </div>
    </div>
    <div id = 'body-div'>
      <h1 class = 'page-description'>
        Event Centers
      </h1><br/>
        <form id ='event-centers' method = 'POST' action = 'route/to/addcenter/controller' >
           <h3> Select a center to view details</h3>
          <div id = 'centers-list' class = 'list-group'>
          <dl class = 'events-list'>
            <dt class = 'list-term list-group-item'>
              Kft event Center
            </dt>
            <dd class = 'list-term-value list-group-item'>
              Lagos
            </dd>
            <input type = 'checkbox' class = 'eventitems list-group-item' value = '1' name = 'eventId' />
          </dl>
          <dl class = 'events-list'>
            <dt class = 'list-term list-group-item'>
              D' Cubicle Event Center
            </dt>
            <dd class = 'list-term-value list-group-item'>
              Lagos
            </dd>
            <input type = 'checkbox' class = 'eventitems list-group-item' value = '2' name = 'eventId' />
          </dl>
          <dl class = 'events-list'>
            <dt class = 'list-term list-group-item'>
              D' Cubicle Event Center
            </dt>
            <dd class = 'list-term-value list-group-item'>
              Lagos
            </dd>
            <input type = 'checkbox' class = 'eventitems list-group-item' value = '3' name = 'eventId' />
          </dl>
        <input type = 'submit' id= 'view-detail'class = 'btn btn-default' name = 'viewDetail' value = 'View Details' />
        </div>
      </form>
      </div>
      <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <a href = './../contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './../about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './../terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
  	<script src = './../../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>
