    <!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		Modify Event
  	</title>
    <link rel = 'stylesheet' type = 'text/css' href = './../../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = './../../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './index.html' class = 'nav-link'>
            Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './addevent.html' class = 'nav-link'>
            Book an Event
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link'>
              Events
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './modifyevent.html' class = 'nav-link active'>
              Modify an Event
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link'>
              Delete an Event
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './../contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
          <div id = 'sub-menu' class = 'rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './../signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './../signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = 'userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class = 'page-header' id = 'site-name'>
          <h1>
            EventManager
          </h1>
        </div>
    </div>
    <div id = 'body-div' class = 'content-area'>
        <form id ='add-event-form' method = 'PUT' action = 'route/to/addcenter/controller'> 
          <h4 class = 'form-description'>
            Modify Events
          </h4>
        <input type = 'hidden' value = '3' name = 'eventId' />
        <div class = 'form-group'>
        <label for = 'event-type' class="col-xs-3 col-form-label mr-2">Event EventType
           <span class = 'requiredFields'>*</span>
        </label>
        <div class = 'col-xs-9'>
        <select id = 'event-type' name = 'eventType'>
        </select>
        </div>
       </div>
       <div class = 'form-group'>
        <label for = 'location' class="col-xs-3 col-form-label mr-2">Location
           <span class = 'requiredFields'>*</span>
        </label>
        <div class = 'col-xs-9'>
        <select id = 'location' class = 'form-control' name = 'location'>
        </select>
        </div>
        </div>
        <div class = 'form-group'>
        <label for = 'location' class="col-xs-3 col-form-label mr-2">Event Centers
           <span class = 'requiredFields'>*</span>
        </label>
        <div class = 'col-xs-9'>
        <select id = 'location' class = 'form-control' name = 'centerName'>
        </select>
        </div>
        </div>
        <div class = 'form-group'>
        <label for = 'event-date' class="col-xs-3 col-form-label mr-2">Date
           <span class = 'requiredFields'>*</span>
        </label>
        <div class = 'col-xs-9'>
        <select id = 'event-day'  name = 'eventDay'>
        </select>
        <select id = 'event-month'  name = 'eventMonth'>
        </select>
        <select id = 'event-year'  name = 'eventYear'>
        </select>
        </div>
        </div>
        <legend> Facilities <span class = 'requiredFields'>*</span></legend>
        <fieldset  class = 'form-group'>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' checked = 'checked' id = 'aircondition' class = 'form-control centerfacilities' value = 'Air Condition' name = 'facilities' />
          </div>
          <label for = 'aircondition' class="col-xs-3 col-form-label mr-2" > Air Condition </label>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' id = 'fans' class = 'form-control centerfacilities' value = 'fans' name = 'facilities' />
          </div>
          <label for = 'fans'class="col-xs-3 col-form-label mr-2" >Fan </label>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' id = 'catering' class = 'form-control centerfacilities' value = 'catering' name = 'facilities' />
          </div>
          <label for = 'catering' class="col-xs-3 col-form-label mr-2" >Catering</label>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' checked = 'checked' id = 'decoration' class = 'form-control centerfacilities' value = 'decoration' name = 'facilities' />
          </div>
          <label for = 'decoration' class="col-xs-3 col-form-label mr-2" >Decoration </label>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' checked = 'checked' id = 'projector' class = 'form-control centerfacilities' value = 'projector' name = 'facilities' />
          </div>
          <label for = 'projector' class="col-xs-3 col-form-label mr-2" >Projector</label>
          <div class = 'col-xs-9'>
          <input type = 'checkbox' id = 'lodging' class = 'form-control centerfacilities' value = 'lodging' name = 'facilities' />
          </div>
          <label for = 'lodging' class="col-xs-3 col-form-label mr-2" >Lodging</label><br />
        </fieldset>
        <input type = 'submit' id= 'modify-event' class = 'btn btn-default' name = 'modifyEvent' value = 'Submit' />
      </form>
      </div>
      <div id = 'footer-div' class ='navbar'>
        <ul class = 'nav'>
          <li class = 'nav-item'>
            <a href = './../contactus.html' class = 'nav-link'>
              Contact us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../about-us.html' class = 'nav-link'>
              About us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../terms-of-use.html' class = 'nav-link'>
              Terms of use
            </a>
          </li>
        </ul>
      </div>
  	<script src = './../../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>
