    <!DOCTYPE html>
<html>
  <head>
  	<title>
  		Events
  	</title>
    <link rel = 'stylesheet' type = 'text/css' href = './../../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = './../../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './index.html' class = 'nav-link'>
            Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './addevent.html' class = 'nav-link'>
            Book an Event
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link active'>
              Events
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link'>
              Delete an Event
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './../contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
          <div id = 'sub-menu' class = 'rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './../signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './../signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = 'userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class = 'page-header' id = 'site-name'>
          <h1>
            EventManager
          </h1>
        </div>
    </div>
    <div id = 'body-div' class = 'content-area'>
      <h1>
        These are the Events You add so far
        <h3> Select an item to modify or delete </h3>
      </h1>
        <form id ='events-form' method = 'POST' action = 'route/to/addcenter/controller' >
          <dl class = 'events-list'>
            <dt>
              Marriage
            </dt>
            <dd>
              Lagos
            </dd>
            <input type = 'checkbox' class = 'eventitems' value = '1' name = 'eventId' />
          </dl>
          <dl class = 'events-list'>
            <dt>
              Concert
            </dt>
            <dd>
              Abuja
            </dd>
            <input type = 'checkbox' class = 'eventitems' value = '2' name = 'eventId' />
          </dl>
          <dl class = 'events-list'>
            <dt>
              Book launching
            </dt>
            <dd>
              Ibadan
            </dd>
            <input type = 'checkbox' class = 'eventitems' value = '3' name = 'eventId' />
          </dl>
        <input type = 'submit' id= 'edit-event' name = 'editEvent' value = 'Edit item' />
        <input type = 'submit' id= 'deleteEvent' name = 'deleteEvent' value = 'Delete' />
      </form>
      </div>
      <div id = 'footer-div' class ='navbar'>
        <ul class = 'nav'>
          <li class = 'nav-item'>
            <a href = './../contactus.html' class = 'nav-link'>
              Contact us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../about-us.html' class = 'nav-link'>
              About us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../terms-of-use.html' class = 'nav-link'>
              Terms of use
            </a>
          </li>
        </ul>
      </div>
  	<script src = 'path/to/script'>
  	</script>
  </body>
</html>
