    <!DOCTYPE html>
<html>
  <head>
  	<title>
  		Events
  	</title>
    <link rel = 'stylesheet' type = 'text/css' href = './../../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = './../../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './../index.html' class = 'nav-link'>
            Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './addevent.html' class = 'nav-link'>
            Book an Event
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './eventcenters.html' class = 'nav-link'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link active'>
              Events
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './viewevents.html' class = 'nav-link'>
              Delete an Event
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './../contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
          <div class = 'sub-menu2 rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './../signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './../signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = 'userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = 'body-div' class = 'content-area'>
       <div class = 'container'>
      <div class = 'row no-gutters'>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images21.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images7.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
             <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images17.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
      </div>
      <div class = 'row no-gutters' >
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images19.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images21.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div class = 'row now-gutters'>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images8.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
           <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images11.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>REGIMES OF TRUTH</p>
            <p>27 December 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
        <div class = 'card col eventCenter-d'>
          <img class = 'cardimg-top' src = './../../avatar/images15.jpg' />
          <div class = 'card-block'>
            <h4 class = 'card-title'>KFT EVEN Center</h4>
            <p>Concert</p>
            <p>27TH October 2017</p>
            <a href = '.api/events/delete/1' class = 'btn btn-default'>Delete</a>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
       <div id = 'footer-div' class ='navbar'>
        <ul class = 'nav'>
          <li class = 'nav-item'>
            <p id = 'modificationNotice'></p>
          </li>
          <li class = 'nav-item'>
            <a href = './../contactus.html' class = 'nav-link'>
              Contact us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../about-us.html' class = 'nav-link'>
              About us
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './../terms-of-use.html' class = 'nav-link'>
              Terms of use
            </a>
          </li>
        </ul>
      </div>
  	<script src = './../../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>
