body  {
	background-image:url(./../avatar/images18.jpg);  margin:2px;
}

div.body-div {
	 background-color:rgba(0, 0, 0, 0.2);  padding:8px;
	 margin:-2px; 
}
/*
img {
	height:30px; width:30px;
}
*/
div#header-div {
	 background-color:rgba(0, 0, 0, 0.8);  height:50px;  padding:8px;
	 margin:-2px; 
}
.form-div form {
	background-color:rgba(0, 0, 0, 0.6); 
 margin-top:25px; width:20rem;
}
div#footer-div {
	 background-color:rgba(0, 0, 0, 0.8);  height:50px;  padding:8px;
	 margin:-2px; 
}
#modificationNotice {
	background-color:rgba(0, 0, 0, 0.2); font-weight:bold; position:relative; top:8px;
}
div.small
