<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		forget password
  	</title>
     <link rel = 'stylesheet' type = 'text/css' href = '../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = '../styles/stylesheet.css' />
  </head>
  <body>
    <div id = 'header-div'>
      <div id = 'site-name' class = 'page-header'>
        <h1>
          Events Manager
        </h1>
      </div>
    </div>
      <div id ='body-div'>
        <div class = 'form-div'>
          <form method = 'POST' action = 'path/to/forget-password/controller'>
            <h4 class = 'form-description'>
              Reset Password
            </h4>
            <div class 'input-group input-group-md'>
            <label for = 'user-name' class = 'input-group-addon'>Username
              <span class = 'requiredFields'>*</span>            
            </label>
            <input type = 'text' id = 'user-name' class = 'form-control' name = 'username' placeholder = 'Username' />
            </div>
            <div class 'input-group input-group-md'>
            <label for = 'email-address' class = 'input-group-addon'>Email
              <span class = 'requiredFields'>*</span>
            </label>
            <input type = 'text' id = 'email-address' class = 'form-control' name = 'email' placeholder = 'you@example.com' />
            </div>
            <div class 'input-group input-group-md'>
            <label for = 'security-question' class = 'input-group-addon' >
              What is the name of your best teacher?
              <span class = 'requiredFields'>*</span>
            </label>         
            <input type = 'text' id = 'security-answer' class = 'form-control' placeholder = 'answer' name = 'security-answer' />
            </div>
            <input type = 'submit' class = 'form-control' name = 'change-password' value = 'Submit' />
            <div class = 'form-div-append'>
              Go to<a href = 'signin.html'> signin</a> Page
           </div>
          </form>
          
        </div>
      </div>
      <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <a href = './contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
  	<script src = "path/to/script">
  	</script>
  </body>
</html>