<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		forget password
  	</title>
     <link rel = 'stylesheet' type = 'text/css' href = '../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = '../styles/stylesheet.css' />
  </head>
  <body>
      <div class ='body-div'>
        <div class = 'form-div col-sm-4'>
          <form method = 'POST' action = 'path/to/forget-password/controller'>
            <p id = 'validationNotice'> The fields marked below are required</p>
            <h4 class = 'form-description'>
              Reset Password
            </h4>
            <div  class = 'form-group'>
              <span class = 'requiredFields'>*</span>            
              <div class = 'col-xs-9'>
                <input type = 'text' id = 'user-name' class = 'requiredFields form-control' name = 'username' placeholder = 'Username' />
            </div>
            <div class 'form-group'>
              <span class = 'requiredFields'>*</span>
              <input type = 'text' id = 'email-address' class = 'requiredFields form-control' name = 'email' placeholder 
            </div>
            <div class 'form-group'>
              <span class = 'requiredFields'>*</span>        
                <input type = 'text' id = 'security-answer' class = 'requiredFields form-control' placeholder = 'What is the name of you first car' name = 'security-answer' />
            </div>
            <input type = 'submit' id = 'submitForgetPassword' class = 'submitForm form-control' name = 'change-password' value = 'Submit' />
            <div class = 'form-div-append'>
              Go to<a href = 'signin.html'> signin</a> Page
           </div>
          </form>
        </div>
      </div>
      <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <p id = 'modificationNotice'></p>
        </li>
        <li class = 'nav-item'>
          <a href = './contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
  	<script src = './../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>