<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
  	<title>
  		Login
  	</title>
     <link rel = 'stylesheet' type = 'text/css' href = '../styles/css/bootstrap.min.css' />
  	<link rel = 'stylesheet' type = 'text/css' href = '../styles/stylesheet.css'/>
  </head>
  <body>
    <div id = 'header-div' >
      <div class = 'page-header' id = 'site-name'>
        <h1>
          Event Manager
        </h1>
      </div>
    </div>
    <div id = 'body-div'>
      <div class = 'form-div'>
        <form method = 'POST' action = 'route/to/login/controller'>
          <h4 class = 'form-description'>
            Login
          </h4>
          <div  class = 'input-group input-group-md'>
            <label for = 'username' class = 'input-group-addon'>Username
              <span class = 'requiredFields'>*</span>
            </label>
            <input type = 'text' id = 'username' class = 'form-control' name = 'username' placeholder = 'Username/email' />
          </div>
          <div  class = 'input-group input-group-md'>
            <label for = 'password' class = 'input-group-addon'>Password
              <span class = 'requiredFields'>*</span>
            </label>
            <input type = 'password' id = 'password' class = 'form-control' name = 'password' placeholder = 'Password' />
          </div>
          <div  class = 'input-group input-group-md'>
          <input type = 'submit' class = 'form-control' name = 'signin' value = 'SignIn' />
          </div>
        </form>
        <div class ='form-div-append'>
          <p>I do no have an <a href = 'signup.html'> SignUp</a></p><br />
          <a href = 'forget-password.html'>Forgot password?</a>
          <p>I want to <a href = 'change-password.html'> Change password</a></p>
        </div>
      </div> 
    </div>
    <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <a href = './contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
  	<script src = 'path/to/script'>
  	</script>
  </body>
</html>
