<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'UTF-8'/>
    <meta http-equiv = 'X--Compatible' content = 'IE=edge' />
    <meta name = 'viewport' content= 'width= device-width, initial-scale =1' />
    <title>
      Signup
    </title>
    <link rel = 'stylesheet' type = 'text/css' href = '../styles/css/bootstrap.min.css' />
    <link rel = 'stylesheet' type = 'text/css' href = '../styles/stylesheet.css' />
  </head>
  <body>
      <div  class = 'body-div' >
        <div  id = 'signup-form' class = 'form-div col-sm-4 card'>
          <form class = 'form-class' id = 'signup' method = 'POST' action = 'route/to/singup/controller'>
            <p id = 'validationNotice'> The fields marked below are required</p>
            <div class = 'card-block'>
              <h4 class = 'card-title'>
              Signup 
              </h4>
            </div>
            <div class = 'card-block'>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'text'  id = 'firstname' placeholder = 'firstname'class = 'requiredFields form-control' name = 'firstname' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'text' id = 'lastname' placeholder = 'lastname' class ='requiredFields form-control' name = 'lastname' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <select class = 'requiredFields form-control' placeholder= 'gender' name = 'gender'>
                <option value = 'select'>
                  Select
                </option>
                <option value = 'female'>
                  Female
                </option>
                <option value = 'male'>
                  Male
                </option>
            </select>
            </fieldset>
            <fieldset  class = 'form-group'>
              <input type = 'file'  id = 'profile-photo' class = 'form-control' placeholder = 'Photo' name = 'profile-photo' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'text' id = 'email-address' class = 'requiredFields form-control' name = 'email' placeholder = 'you@example.com' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'text'  id = 'username' class = 'requiredFields form-control' name = 'username' placeholder = 'Username' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'password'   id= 'passwd1' class = 'requiredFields form-control' name = 'password1' placeholder = 'Password' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
              <input type = 'password' id = 'passwd2' class = 'requiredFields form-control' name = 'confirmpassword' placeholder = 'Confirm Password' />
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
                <select name = 'securityQuestion' id = 'security-question' class = 'requiredFields form-control'>
                  <option>
                    What is the name of your first school?
                  </option>
                  <option>
                    How old are you when you got married?
                  </option>
                  <option>
                    What is the brand name of your first car?
                  </option>
                  <option>
                    What is the name of your favorite teacher?
                  </option>
                </select>
            </fieldset>
            <fieldset  class = 'form-group'>
                <span class = 'requiredFields'>*</span>
                <input type = 'text' id = 'security-answer' placeholder = 'type' class = 'requiredFields form-control'name = 'security-answer' />
              </fieldset>
            <p>Agree to our <a href = 'terms-of-use.html'>terms</a> of use <span class = 'requiredFields'>*</span></p>
            <fieldset  class = 'form-group' id = 'radio-div'>
              <input type = 'radio' id = 'agree-to-use' class = 'requiredFields' name = 'agreement' value = 'Agree' />
              <label for = 'agree-to-use' class ='requiredFields input-group-addon'>Agree</label>
              <input type = 'radio' id = 'disagree-to-use' class = 'requiredFields' name = 'agreement' value = 'disagree' />
            </fieldset>
            <fieldset  class = 'form-group'>
            <input type = 'submit' id = 'signup' class = 'submitForm btn btn-default' name = 'signup' value = 'Submit' />
            </fieldset>
            <div class = 'form-div-append'>
              <p>I already have an <a href = 'signin.html'> Account</a></p>
           </div>
         </div>
          </form>
        </div>
      </div>
        <div id = 'footer-div' class ='card navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <p id = 'modificationNotice'></p>
        </li>
        <li class = 'nav-item'>
          <a href = './contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
    <script src = './../scripts/dist/bundle.js' >
    </script>
  </body>
</html>
