<!DOCTYPE html>
<html>
  <head>
  	<title>
      Profile
  	</title>
  	<link rel = "stylesheet" type = "text/css" href = "./../styles/css/bootstrap.min.css" />
    <link rel = "stylesheet" type = "text/css" href = "./../styles/stylesheet.css" /> 
  </head>
  <body>
    <div id = 'header-div'>
      <div class = 'navbar' >
        <ul id = 'main-menu' class = 'nav nav-tabs'>
          <li class = 'nav-item'>
            <a href = './users/index.html' class = 'nav-link active'>
              Home
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './users/addevent.html' class = 'nav-link'>
              Book an Event
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './users/eventcenters.html' class = 'nav-link'>
              Event Centers
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './users/viewevents.html' class = 'nav-link'>
              Events
            </a>
          </li>
          <li class = 'nav-item'>
            <a href = './users/viewevents.html' class = 'nav-link'>
              Delete an Event
            </a>
          </li>
          <li class = 'nav-item' >
            <a href = './contactus.html' class = 'nav-link'> 
              Contact Us
            </a>
          </li>
        </ul>
          <div id = 'sub-menu' class = 'rounded-top'>
          <ul class = 'nav'>
            <li class = 'nav-item'>
              <a href = './signup.html' class = 'nav-link'>
                signup
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = './signin.html' class = 'nav-link'>
                logout
              </a>
            </li>
            <li class = 'nav-item'>
              <a href = 'userprofile.html' class = 'nav-link'>
                <span>Profile</span>
                <img id = 'profile-pix' class = 'img-fuild rounded' src = './../avatar/sam_3264.jpg' alt = 'profile pix' />
              </a>
            </li>
          </ul>
        </div>
      </div>
        <div class = 'page-header' id = 'site-name'>
          <h1>
            EventManager
          </h1>
        </div>
    </div>
    <div class = 'body-div'>
      <h3>
        Your Profile
      </h3><br />
      <div>
         <img id = 'profile-pix' class = 'image-large img-fuild rounded' src = './../avatar/sam_3264.jpg' alt = 'profile pix' />
      </div>
      <dl class = 'userprofile'>
            <dt class = 'list-term'>
              Lastname:
            </dt>
            <dd class = 'list-term-value'>
              Tutu
            </dd> 
            <dt class = 'list-term'>
              Firstname
            </dt>
            <dd class = 'list-term-value'>
              Godfrey
            </dd> 
            <dt class = 'list-term'>
              Email
            </dt>
            <dd class = 'list-term-value'>
              tutu@gmail.com
            </dd> 
            <dt class = 'list-term'>
              Gender
            </dt>
            <dd class = 'list-term-value '>
              Male
            </dd> 
      </dl>
      <form method = 'PUT' action = 'path/to/editProfile/controller' >
        <input type = 'hidden' value = '2' name = 'userId' />
        <input type = 'submit' name = 'editProfile' />
      </form>
    <div id = 'footer-div' class ='navbar'>
      <ul class = 'nav'>
        <li class = 'nav-item'>
          <p id = 'modificationNotice'></p>
        </li>
        <li class = 'nav-item'>
          <a href = './contactus.html' class = 'nav-link'>
            Contact us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './about-us.html' class = 'nav-link'>
            About us
          </a>
        </li>
        <li class = 'nav-item'>
          <a href = './terms-of-use.html' class = 'nav-link'>
            Terms of use
          </a>
        </li>
      </ul>
    </div>
    <script src = './../scripts/dist/bundle.js'>
  	</script>
  </body>
</html>